.title {
  color: #800000;
  font-size: 3rem;
  text-decoration: none;
}

.navList {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.navItem {
  color: darkcyan;
  margin-right: 1.5rem;
  text-decoration: none;
}
